# Environment Variables
.env
frontend/.env

# Python Caches & Virtual Envs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.db
*.db-journal

# Frontend Build & Node Modules
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE & OS
.vscode/
.idea/
.DS_Store
